<!-- Default -->
{% extends "core/base.html" %}
<!-- Content -->
{% block content %} 
{% load static %}
<main class="main">
  <!-- Hero Section -->
  <section id="hero" class="hero section dark-background">
    <img
      src="{% static 'core/assets/img/portfolio.png' %}"
      alt=""
      data-aos="fade-in"
    />

    <div
      class="container d-flex flex-column align-items-center justify-content-center text-center"
      data-aos="fade-up"
      data-aos-delay="100"
    >
      <h2>Ángel Estarita</h2>
      <p>
        <span
          class="typed"
          data-typed-items="Desarrollador Backend, Freelancer"
        ></span>
      </p>
    </div>
  </section>
  <!-- /Hero Section -->

  <!-- About Section -->
  <section id="about" class="about section">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row gy-4">
        <div class="col-md-6">
          <div class="row justify-content-between gy-4">
            <div class="col-lg-5">
              <img
                src="{% static 'core/assets/img/logo.png' %}"
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="col-lg-7 about-info">
              <p><strong>Nombre: </strong> <span>Ángel Estarita</span></p>
              <p>
                <strong>Oficio: </strong> <span>Desarrollador Backend</span>
              </p>
              <p>
                <strong>Email: </strong>
                <span>gabrielcardozo3579@gmail.com</span>
              </p>
              <p><strong>Teléfono: </strong> <span>+58 412-6052308</span></p>
            </div>
          </div>

          <div class="skills-content skills-animation">
            <h5>Habilidades</h5>

            <div class="progress">
              <span class="skill"
                ><span>Python</span> <i class="val">100%</i></span
              >
              <div class="progress-bar-wrap">
                <div
                  class="progress-bar"
                  role="progressbar"
                  aria-valuenow="100"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
            <!-- End Skills Item -->

            <div class="progress">
              <span class="skill"
                ><span>Django</span> <i class="val">100%</i></span
              >
              <div class="progress-bar-wrap">
                <div
                  class="progress-bar"
                  role="progressbar"
                  aria-valuenow="100"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
            <!-- End Skills Item -->
            <div class="progress">
              <span class="skill"
                ><span>Git</span> <i class="val">100%</i></span
              >
              <div class="progress-bar-wrap">
                <div
                  class="progress-bar"
                  role="progressbar"
                  aria-valuenow="100"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
            <!-- End Skills Item -->
            <div class="progress">
              <span class="skill"><span>SQL</span> <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div
                  class="progress-bar"
                  role="progressbar"
                  aria-valuenow="90"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
            <!-- End Skills Item -->
          </div>
        </div>

        <div class="col-md-6">
          <div class="about-me">
            <h4>Sobre mí</h4>
            <p>
              Soy un desarrollador backend especializado en Django, con un enfoque en la creación de APIs y la gestión de bases de datos. Tengo experiencia en el diseño e implementación de sistemas de autenticación de usuarios y en el uso de formularios avanzados, garantizando la seguridad y la privacidad de los datos. Me apasiona desarrollar aplicaciones escalables y eficientes, aplicando las funciones avanzadas de Django para asegurar la calidad del software. Utilizo buenas prácticas de codificación y desarrollo para optimizar el rendimiento y seguridad del proyecto. Además, estoy explorando tecnologías como Docker y Node.js para expandir mis capacidades en el desarrollo backend.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /About Section -->

  <!-- Resume Section -->
  <section id="resume" class="resume section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Currículum</h2>
      <p>
        Soy estudiante de Ingeniería en Sistemas y desarrollador backend apasionado por la programación. He trabajado en proyectos independientes, como una aplicación para la gestión de citas en un hospital, un filtrador de restaurantes en Caracas y una web empresarial para la venta de cafés. Estos proyectos me han permitido aplicar mis conocimientos en Django.

        He completado cursos en Python, JavaScript y Django en Udemy, lo que refuerza mi base en desarrollo web. Estoy comprometido con el aprendizaje continuo y disfruto colaborar en comunidades de programación para intercambiar ideas y enfrentar nuevos desafíos.
      </p>
    </div>
    <!-- End Section Title -->
  
    <div class="container">
      <div class="row">
        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Resumen personal</h3>
          {% for detailedSummary in summary %}
          <div class="resume-item pb-0">
            <h4>{{detailedSummary.name}}</h4>
            <p>
              <em>{{detailedSummary.description}}</em>
            </p>
            <ul>
              <li>{{detailedSummary.address}}</li>
              <li>{{detailedSummary.phone}}</li>
              <li>{{detailedSummary.email}}</li>
            </ul>
          </div>
          {% endfor %}
          <!-- End Resume Item -->
        </div>
      </div>
  
      <!-- Nueva fila para Formación y Experiencia -->
      <div class="row mt-4">
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Formación</h3>
          {% for detailedEducation in education %}
          <div class="resume-item">
            <h4>{{detailedEducation.training}}</h4>
            <h5>{{detailedEducation.timeInvested}}</h5>
            <p><em>{{detailedEducation.institute}}</em></p>
            <p>{{detailedEducation.description}}</p>
          </div>
          {% endfor %}
          <!-- End Resume Item -->
        </div>
  
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <h3 class="resume-title">Experiencia profesional</h3>
          {% for detailedExperience in experience %}
          <div class="resume-item">
            <h4>{{detailedExperience.job}}</h4>
            <h5>{{detailedExperience.timeWorked}}</h5>
            <p><em>{{detailedExperience.workLocation}}</em></p>
            <p>{{detailedExperience.description}}</p>
          </div>
          {% endfor %}
          <!-- End Resume Item -->
        </div>
      </div>
    </div>
  </section>
  <!-- /Resume Section -->

  <!-- Services Section -->
  <section id="services" class="services section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Servicios</h2>
      <p>
        Necessitatibus eius consequatur ex aliquid fuga eum quidem sint
        consectetur velit
      </p>
    </div>
    <!-- End Section Title -->

    <div class="container">
      <div class="row gy-4">
        {% for detailedService in services %}
        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="{{detailedService.icon}}"></i>
            </div>
            <a href="{% url 'service-details' %}" class="stretched-link">
              <h3>{{detailedService.title}}</h3>
            </a>
            <p>
              {{detailedService.description}}
            </p>
          </div>
        </div>
        {% endfor %}
        <!-- End Service Item -->
      </div>
    </div>
  </section>
  <!-- /Services Section -->
  <!-- Portfolio Section -->
  <section id="portfolio" class="portfolio section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Portfolio</h2>
      <p>
        Necessitatibus eius consequatur ex aliquid fuga eum quidem sint
        consectetur velit
      </p>
    </div>
    <!-- End Section Title -->

    <div class="container">
      <div
        class="isotope-layout"
        data-default-filter="*"
        data-layout="masonry"
        data-sort="original-order"
      >
        <div
          class="row gy-4 isotope-container"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
            <img
              src="{% static 'core/assets/img/portfolio/app-1.jpg' %}"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4>App 1</h4>
              <p>Lorem ipsum, dolor sit amet consectetur</p>
              <a
                href="{% static 'core/assets/img/portfolio/app-1.jpg' %}"
                title="App 1"
                data-gallery="portfolio-gallery-app"
                class="glightbox preview-link"
                ><i class="bi bi-zoom-in"></i
              ></a>
              <a
                href="{% url 'portfolio-details' %}"
                title="More Details"
                class="details-link"
                ><i class="bi bi-link-45deg"></i
              ></a>
            </div>
          </div>
          <!-- End Portfolio Item -->

          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
            <img
              src="{% static 'core/assets/img/portfolio/app-1.jpg' %}"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4>App 2</h4>
              <p>Lorem ipsum, dolor sit amet consectetur</p>
              <a
                href="{% static 'core/assets/img/portfolio/app-1.jpg' %}"
                title="App 2"
                data-gallery="portfolio-gallery-app"
                class="glightbox preview-link"
                ><i class="bi bi-zoom-in"></i
              ></a>
              <a
                href="{% url 'portfolio-details' %}"
                title="More Details"
                class="details-link"
                ><i class="bi bi-link-45deg"></i
              ></a>
            </div>
          </div>
          <!-- End Portfolio Item -->

          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
            <img
              src="{% static 'core/assets/img/portfolio/app-1.jpg' %}"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4>App 3</h4>
              <p>Lorem ipsum, dolor sit amet consectetur</p>
              <a
                href="{% static 'core/assets/img/portfolio/app-1.jpg' %}"
                title="App 3"
                data-gallery="portfolio-gallery-app"
                class="glightbox preview-link"
                ><i class="bi bi-zoom-in"></i
              ></a>
              <a
                href="{% url 'portfolio-details' %}"
                title="More Details"
                class="details-link"
                ><i class="bi bi-link-45deg"></i
              ></a>
            </div>
          </div>
          <!-- End Portfolio Item -->
        </div>
        <!-- End Portfolio Container -->
      </div>
    </div>
  </section>
  <!-- /Portfolio Section -->

  <!-- Faq Section -->
  <section id="faq" class="faq section">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="content px-xl-5">
            <h3><span>Preguntas </span><strong>frecuentes</strong></h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis
              aute irure dolor in reprehenderit
            </p>
          </div>
        </div>

        <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
          <div class="faq-container">
            <div class="faq-item faq-active">
              <h3>
                <span class="num">1.</span>
                <span>
                  ¿Qué es una API y cuál es su función en el backend?</span
                >
              </h3>
              <div class="faq-content">
                <p>
                  Una API (Interfaz de Programación de Aplicaciones) permite que
                  diferentes aplicaciones se comuniquen entre sí. En el backend,
                  las APIs exponen datos y funcionalidades para que el frontend
                  o servicios externos los consuman.
                </p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div>
            <!-- End Faq item-->

            <div class="faq-item">
              <h3>
                <span class="num">2.</span>
                <span
                  >¿Cómo manejo la autenticación y autorización de
                  usuarios?</span
                >
              </h3>
              <div class="faq-content">
                <p>
                  Utilizo el sistema de autenticación de Django
                  (django.contrib.auth) para gestionar el inicio de sesión,
                  registro y permisos. Para las APIs, implemento autenticación
                  con tokens o sesiones usando Django REST Framework, junto con
                  permisos personalizados para controlar el acceso según roles
                  de usuario.
                </p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div>
            <!-- End Faq item-->

            <div class="faq-item">
              <h3>
                <span class="num">3.</span>
                <span>¿Qué es un ORM y cómo funciona en Django?</span>
              </h3>
              <div class="faq-content">
                <p>
                  Un ORM (Object-Relational Mapping) permite interactuar con la
                  base de datos usando modelos en lugar de SQL directo. En
                  Django, el ORM convierte las consultas a SQL de manera
                  automática.
                </p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div>
            <!-- End Faq item-->

            <div class="faq-item">
              <h3>
                <span class="num">4.</span>
                <span
                  >¿Cómo optimizo el rendimiento de las consultas a la base de
                  datos?</span
                >
              </h3>
              <div class="faq-content">
                <p>
                  Uso de <b>select_related</b> y <b>prefetch_related</b> en
                  Django para evitar consultas repetitivas (N+1 problem).
                  También implemento paginación, caching y optimización de
                  índices en la base de datos.
                </p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div>
            <!-- End Faq item-->

            <div class="faq-item">
              <h3>
                <span class="num">5.</span>
                <span>¿Cómo manejas errores y excepciones en un API?</span>
              </h3>
              <div class="faq-content">
                <p>
                  Utilizo manejo de excepciones con bloques try-except y
                  devuelvo respuestas con códigos HTTP adecuados (como 400 para
                  errores del cliente o 500 para errores del servidor). En
                  Django, DRF tiene clases de excepción como APIException.
                </p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div>
            <!-- End Faq item-->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Faq Section -->

  <!-- Testimonials Section -->
  <section id="testimonials" class="testimonials section heading-color">
    <img
      src="{% static 'core/assets/img/testimonial.jpg' %}"
      class="testimonials-bg"
      alt=""
    />

    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper init-swiper">
        <script type="application/json" class="swiper-config">
          {
            "loop": true,
            "speed": 600,
            "autoplay": {
              "delay": 5000
            },
            "slidesPerView": "auto",
            "pagination": {
              "el": ".swiper-pagination",
              "type": "bullets",
              "clickable": true
            }
          }
        </script>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonial-item">
              <img
                src="{% static 'core/assets/img/testimonials/testimonials-1.jpg' %}"
                class="testimonial-img"
                alt=""
              />
              <h3>Saul Goodman</h3>
              <h4>Ceo &amp; Founder</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                ><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                ><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span
                  >Proin iaculis purus consequat sem cure digni ssim donec
                  porttitora entum suscipit rhoncus. Accusantium quam, ultricies
                  eget id, aliquam eget nibh et. Maecen aliquam, risus at
                  semper.</span
                >
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img
                src="{% static 'core/assets/img/testimonials/testimonials-2.jpg' %}"
                class="testimonial-img"
                alt=""
              />
              <h3>Sara Wilsson</h3>
              <h4>Designer</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                ><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                ><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span
                  >Export tempor illum tamen malis malis eram quae irure esse
                  labore quem cillum quid cillum eram malis quorum velit fore
                  eram velit sunt aliqua noster fugiat irure amet legam anim
                  culpa.</span
                >
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img
                src="{% static 'core/assets/img/testimonials/testimonials-3.jpg' %}"
                class="testimonial-img"
                alt=""
              />
              <h3>Jena Karlis</h3>
              <h4>Store Owner</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                ><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                ><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span
                  >Enim nisi quem export duis labore cillum quae magna enim sint
                  quorum nulla quem veniam duis minim tempor labore quem eram
                  duis noster aute amet eram fore quis sint minim.</span
                >
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img
                src="{% static 'core/assets/img/testimonials/testimonials-4.jpg' %}"
                class="testimonial-img"
                alt=""
              />
              <h3>Matt Brandon</h3>
              <h4>Freelancer</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                ><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                ><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span
                  >Fugiat enim eram quae cillum dolore dolor amet nulla culpa
                  multos export minim fugiat minim velit minim dolor enim duis
                  veniam ipsum anim magna sunt elit fore quem dolore labore
                  illum veniam.</span
                >
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img
                src="{% static 'core/assets/img/testimonials/testimonials-5.jpg' %}"
                class="testimonial-img"
                alt=""
              />
              <h3>John Larson</h3>
              <h4>Entrepreneur</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                ><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                ><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span
                  >Quis quorum aliqua sint quem legam fore sunt eram irure
                  aliqua veniam tempor noster veniam enim culpa labore duis sunt
                  culpa nulla illum cillum fugiat legam esse veniam culpa fore
                  nisi cillum quid.</span
                >
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div>
          <!-- End testimonial item -->
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <!-- /Testimonials Section -->

  <!-- Contact Section -->
  <section id="contact" class="contact section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Contacto</h2>
      <p>
        Necessitatibus eius consequatur ex aliquid fuga eum quidem sint
        consectetur velit
      </p>
    </div>
    <!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="info-wrap" data-aos="fade-up" data-aos-delay="200">
        <div class="row gy-5">
          <div class="col-lg-4">
            <div class="info-item d-flex align-items-center">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>¿De dónde soy?</h3>
                <p>Venezuela, Caracas</p>
              </div>
            </div>
          </div>
          <!-- End Info Item -->

          <div class="col-lg-4">
            <div class="info-item d-flex align-items-center">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Envíame un mensaje</h3>
                <p>+58 412-6052308</p>
              </div>
            </div>
          </div>
          <!-- End Info Item -->

          <div class="col-lg-4">
            <div class="info-item d-flex align-items-center">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Envíame un email</h3>
                <p>gabrielcardozo3579@gmail.com</p>
              </div>
            </div>
          </div>
          <!-- End Info Item -->
        </div>
      </div>

      {% comment "FORM" %} Form in contact_form.py {% endcomment %} 
      {% if request.user.is_authenticated %} 
      {% load contact_form %} {% contact_form %} 
      {% else %}
      <section class="main">
        <!-- Starter Section Section -->
        <div id="starter-section" class="starter-section section">
          <!-- Section Title -->
          <div class="container section-title" data-aos="fade-up">
            <h2>¿Quieres ponerte en contacto conmigo?</h2>
            <p>
              Crea una cuenta y envíame un mensaje mediante un formulario. Me pondré en contacto contigo en la mayor brevedad posible
            </p>
          </div>
        </div>
        <!-- /Starter Section Section -->
      </section>
      {% endif %}
    </div>
  </section>
  <!-- /Contact Section -->
</main>
{% endblock content %}
<!-- End content -->
