<!-- Default -->
{% extends "core/base.html" %}
<!-- Content -->
{% block content %}
{% load static %}
<main class="main">
  <!-- Page Title -->
  <div class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
      <h1 class="mb-2 mb-lg-0">Detalles del proyecto</h1>
      <nav class="breadcrumbs">
        <ol>
          <li><a href="{% url 'home' %}">Inicio</a></li>
          <li class="current">Detalles del proyecto</li>
        </ol>
      </nav>
    </div>
  </div><!-- End Page Title -->

  <!-- Portfolio Details Section -->
  <section id="portfolio-details" class="portfolio-details section">

    <div class="container" data-aos="fade-up">

      <div class="portfolio-details-slider swiper init-swiper">
        <script type="application/json" class="swiper-config">
          {
            "loop": true,
            "speed": 600,
            "autoplay": {
              "delay": 5000
            },
            "slidesPerView": "auto",
            "navigation": {
              "nextEl": ".swiper-button-next",
              "prevEl": ".swiper-button-prev"
            },
            "pagination": {
              "el": ".swiper-pagination",
              "type": "bullets",
              "clickable": true
            }
          }
        </script>
        <div class="swiper-wrapper align-items-center">
          {% for imagen in proyecto.gallery.all %}
          <div class="swiper-slide">
            {% if imagen.image %}
            <img src="{{imagen.image.url}}" alt="{{imagen.name}}"> 
            {% else %}
            <img src="" alt="{{imagen.name}}"> 
            {% endif %}
          </div>
          {% endfor %}

        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-pagination"></div>
      </div>

      <div class="row justify-content-between gy-4 mt-4">

        <div class="col-lg-8" data-aos="fade-up">
          <div class="portfolio-description">
            <h2>{{proyecto.title}}</h2>
            <p>
              {{proyecto.description|linebreaks}}
            </p>

            <div class="testimonial-item">
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>{{proyecto.testimonial}}</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
              <div>
                <img src="{{proyecto.imageTestimonial}}" class="testimonial-img" alt=""> 
              </div>
            </div>

            <p>
              {{proyecto.conclusion|linebreaks}}
            </p>

          </div>
        </div>

        <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
          <div class="portfolio-info">
            <h3>Project information</h3>
            <ul>
              <li><strong>Category</strong>{% for categories in proyecto.category.all %}{{categories}},{% endfor %}</li>
              <li><strong>Client</strong>{% for clients in proyecto.client.all %}{{clients|join:", "}}{% endfor %}</li>
              <li><strong>Project date</strong>{{proyecto.projectFinished}}</li>
              <li><strong>Project URL</strong> <a href="{{proyecto.projectUrl}}">{{proyecto.projectUrl}}</a></li>
              <li><a href="{{proyecto.projectUrl}}" class="btn-visit align-self-start">Visit Website</a></li>
            </ul>
          </div>
        </div>

      </div>

    </div>

  </section><!-- /Portfolio Details Section -->

</main>
{% endblock content %}
<!-- End content -->

 
